@charset "utf-8";

:root {
	/** 共通カラー */
	--color-decoration-yellow: #F2E5CA;
	--color-decoration-red: #DA408E;
	
	/** ライトテーマカラー */
	--color-div-border-light: #5E65AA;
	--color-div-sub-border-light: #DA408E;
	--color-html-background-light: #3C3A48;
	--color-body-background-light: #FFFFFF;
	--color-text-light: #16184C;
	--color-text-strong-light: #DA408E;
	--color-caption-light: #5E65AA;
	--color-notes-light: #666666;
	--color-input-border-light: #16184C;
	--color-input-border-active-light: #DA408E;
	--color-input-text-light: #16184C;
	--color-input-text-active-light: #FFFFFF;
	--color-input-background-light: #F2E5CA;
	--color-input-background-active-light: #DA408E;
	--color-footer-text-light: #FFFFFF;
	--color-footer-background-light: #1C1410;
	
	/** ダークテーマカラー */
	--color-div-border-dark: #5E65AA;
	--color-div-sub-border-dark: #DA408E;
	--color-html-background-dark: #3C3A48;
	--color-body-background-dark: #3C3A48;
	--color-text-dark: #FFFFFF;
	--color-text-strong-dark: #FBDCE6;
	--color-caption-dark: #5E65AA;	
	--color-notes-dark: #BBBBBB;
	--color-input-border-dark: #FFFFFF;
	--color-input-border-active-dark: #F2E5CA;
	--color-input-text-dark: #3B312F;	
	--color-input-text-active-dark: #3C3A48;
	--color-input-background-dark: #FFFFFF;
	--color-input-background-active-dark: #F2E5CA;
	--color-footer-text-dark: #FFFFFF;
	--color-footer-background-dark: #1C1410;
}